---
import '../styles/global.css';

export interface Props {
  title?: string;
  description?: string;
}

const { title = "Soapy Dolphin: Melbourne's Premier Laundry Care Service", description = "Experience premium laundry services with Soapy Dolphin in Melbourne, VIC. Enjoy fresh, clean clothes with our eco-friendly solutions. Book your service today!" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{title}</title>
</head>
<body>
  <slot />
</body>
</html>
